@font-face {
    font-family: 'Minecraft';
    src: url('/minecrafthelper/resources/Minecraft.ttf');
}

.background {
    -fx-background-image: url("/minecrafthelper/resources/minecraft_background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-font-family: 'Minecraft';
}

Button {
    -fx-background-color: darkgray;
    -fx-padding-top: 10px;
    -fx-border-color: black;
    -fx-border-width: 1.5px;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.mainMenuButton:hover, .navButton:hover, #searchButton {
    -fx-background-color: lightgray;
}

Button.mainMenuButton {
    -fx-min-width: 500px;
    -fx-min-height: 75px;
    -fx-font-size: 30px;
    -fx-margin: 15px;
}

.blockInfo {
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-background-color: darkgray;
    -fx-border-width: 1.5px;
    -fx-border-color: black;
}

FlowPane {
    -fx-hgap: 15;
    -fx-vgap: 15;
    -fx-alignment: TOP_CENTER;
}

ScrollPane {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#navbar {
    -fx-padding: 15px;
}

#searchButton {
    -fx-min-height: 50px;
    -fx-font-size: 17;
}

.navButton{
    -fx-min-width: 250px;
    -fx-min-height: 50px;
    -fx-font-size: 17;
}

.blockInfoButton {
    -fx-pref-height: 150px;
    -fx-max-height: 150px;
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-background-image: url("/minecrafthelper/resources/minecraft_stone.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-font-size: 18;
    -fx-wrap-text: true;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-text-fill: white;
}

.blockInfoButton:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}